body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px; /* Aumentei a largura para acomodar a tabela */
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Adicionado espaço entre o formulário e a tabela */
    max-width: 300px; /* Reduzi a largura do contêiner dos inputs */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#output {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#style_table {
    border-collapse: collapse;
    width: 100%;
}

#style_table th, #style_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#style_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: black;
}